/* ! ===== Salats ===== */

.content {
  text-align: center;
  margin-bottom: 70px;
  width: 100%;
  height: auto;
  margin: 255px 0 0 0;
}

.containerCardSalats {
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  border-color: rgb(234, 223, 223);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cardSalat,
.weight {
  border-radius: 210.5px 210.5px 20px 20px;
  width: 386px;
}

.BoxWeightSubTitle {
  opacity: 0;
  max-height: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.ContainerLunchTitle {
  display: flex;
  justify-content: center;
  padding: 130px 0 0 0;
  text-align: center;
  height: 100vh;
  margin: 246px 0 0 0;
}



.LunchTitle,
.LunchTime {
  color: #fff;
  font-family: "Lato";
  font-size: calc(45px + 80 * ((100vw - 320px) / (1920 - 320)));
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 414px) {
  .ContainerLunchTitle {
    margin: 165px 0 0 0;
    align-items: center;
    padding: 0;
  }

  .LunchTitle,
  .LunchTime {
    padding: 0 0 80px 0;
  }
}

.cardSalat:hover .BoxWeightSubTitle {
  opacity: 1;
  max-height: 300px;
  visibility: visible;
}

@media (max-width: 900px) {
  .containerCardSalats {
    justify-content: center;
  }
}

.cardSalat {
  background: #eaeaea;
  margin: 40px 20px 150px;
  transition: all 0.5s;
  cursor: pointer;
}

@media (max-width: 921px) {
  .cardSalat {
    margin: 100px 10px 150px;
  }
}

@media (max-width: 406px) {
  .cardSalat {
    width: 355px;
  }
}