/* //! PersonalInfo */
.PersonalInfoPages {
  width: 100%;
}

.SectionUserRow {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0 59px;
  transition: ease 0.6s;
}

.SectionUserRow:hover {
  background: #f69049;
}

.UserImagesNameRow {
  color: #000;
  font-family: "Gilroy";
  font-size: 34px;
  font-weight: 800;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 20px 0;
  padding: 0 30px;
}

.userName {

  color: #000;
  font-family: "Gilroy";
  font-size: 34px;
  font-size: calc(27px + 6 * ((100vw - 320px) / (1920 - 320)));
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.userImages {
  width: 100px;
  height: 100px;
  background: #f69049;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 375px) {
  .userImages {
    height: 80px;
  }
}

.SectionUserRow img {
  padding: 0 20px 0 0;
}

.myDetails {
  display: block;
  color: #000;
  font-family: "Gilroy";
  font-size: 18px;
  font-weight: 300;
  line-height: 140%;
  margin: 30px 0 30px 0;
  cursor: pointer;
}

/*! МyDetails */
.MyDetails {
  padding: 0 60px;
}

.inputRow {
  display: flex;
  align-items: center;
  margin: 0 0 46px 0;
}

.iconClose {
  cursor: pointer;
}

.inputRow label,
.MyDetailsButton {
  display: block;
  min-width: 105px;
  margin: 0 30px 0 0;
  font-size: calc(18px + 5 * ((100vw - 320px) / (1920 - 320)));
  color: #000;
  font-family: "Gilroy";

  font-weight: 800;
}

@media (max-width: 676px) {
  .MyDetails {
    padding: 0 30px;
  }

  .inputRow label,
  .MyDetailsButton {
    min-width: 85px;
  }
}

.myDetailsRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 60px 0 50px 0;
}

.iconBurgerTextRow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconBurgerTextRow h3 {
  color: #000;
  font-family: "Gilroy";
  font-size: calc(27px + 6 * ((100vw - 320px) / (1920 - 320)));
  font-weight: 800;
}

.iconBurgerTextRow img {
  margin: 0 20px 0 0;
}

.nameEmailTelColumn {
  display: flex;
  flex-direction: column;
}

.nameEmailTelColumn input,
.input {
  font-size: 20px;
  border-radius: 15px;
  border: 1px solid #474747;
  width: 60%;
  padding: 11px 40px 11px;
}

input::placeholder {
  color: #474747;
  font-family: "Gilroy";
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
}

.MyDetailsButton {
  margin: 0 0 70px 0;
  padding: 20px 52px;
  background: #f69049;
  transition: ease 0.5s;
  border-radius: 15px;
}

.MyDetailsButton:hover {
  background: black;
  color: white;
}

@media (max-width: 676px) {

  .nameEmailTelColumn input,
  .input {
    padding: 11px 10px 11px;
  }

  .MyDetailsButton {
    padding: 15px 50px;
  }
}

.btnCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*! MyAddresses */
.editAddress {
  display: flex;
  justify-content: space-between;
  margin: 0 0 80px 0;
}

.editAddress img {
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.AddAddressImgPlus {
  cursor: pointer;
}

.AddAddress {
  display: flex;
}

.AddAddress img {
  margin: 0 23px 0 0;
  cursor: pointer;
  width: 30px;
}

.textAddress {
  color: #000;
  font-family: "Gilroy";
  font-size: calc(20px + 4 ((100vw - 320px) / (1920 - 320)));
  font-weight: 300;
  line-height: 140%;
  cursor: pointer;
}

.inputAddAddress {
  border-radius: 15px;
  border: 1px solid #474747;
  font-size: 20px;
  border-radius: 15px;
  border: 1px solid #474747;
  width: 100%;
  padding: 11px 40px 11px;
}

@media (max-width: 767px) {

  .editAddress img,
  .AddAddress img {
    width: 20px;
    height: 20px;
  }

  .inputAddAddress {
    padding: 11px 11px 11px;
  }
}

.inputRowAddress {
  display: flex;
}

.inputRowAddress input:nth-child(1) {
  margin: 0 40px 0 0;
}

.AddAddress,
.inputRowAddress {
  margin: 0 0 40px 0;
}

/*! HistoryOfOrders */
.HistoryRow {
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 60px 0 50px 0;
}

.HistoryBlock {
  padding: 0 60px;
}

@media (max-width: 767px) {
  .HistoryBlock {
    padding: 0 25px;
  }

  .HistoryRow {
    padding: 0 25px;
  }
}

.IconZakazi {
  width: 40px;
  height: 40px;
}

.DataTotal {
  display: flex;
  justify-content: space-between;
  margin: 0 0 70px 0;
}

.DataZakazi {
  color: #000;
  font-family: "Gilroy";
  font-size: calc(18px + 6 * ((100vw - 320px) / ((1920 - 320))));
  font-weight: 800;
  line-height: 140%;
}

.TotalZakazi {
  color: #000;
  font-family: "Gilroy";
  font-size: 34px;
  font-size: calc(25px + 9 * ((100vw - 320px) / (1920 - 320)));
  font-weight: 800;
  text-transform: uppercase;
}

.rowImgText {
  display: flex;
  align-items: center;
}

.rowImgText img {
  width: 100px;
  height: 100px;
  margin: 0 55px 0 0;
}

.HistoryRowOrder {
  color: #000;
  font-family: "Gilroy";
  font-size: 18px;
  font-weight: 800;
  line-height: 17px;
}

.OrderTitle {
  margin: 0 0 30px 0;
}

.rowImgText {
  margin: 0 0 45px 0;
}

.HistoryOfOrdersBasket {
  border-radius: 6.939px;
  background: #f69049;
  padding: 14px 34px;
  margin: 0 0 44px 0;
  transition: ease 0.5s;
}

.HistoryOfOrdersBasket:hover {
  background: #3ff921;
}

.HistoryZakaziNameSum {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

@media (max-width: 767px) {
  .HistoryZakaziNameSum {
    display: block;
  }
}