.hover {
  transition: all 0.5s;
}
.buttonDelivery {
  display: flex;
  justify-content: start;
  padding: 0 0 40px 130px;
  width: 100%;
}
.hover:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 1200px) {
  .carHover,
  .logoDeliver {
    display: none;
  }
  .hover:hover {
    transform: none;
  }
  .boXbtnText {
    margin-top: -137px;
  }
  .titleDelivery {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
  }
  .buttonDelivery {
    justify-content: center;
    padding: 0 0 40px 0px;
  }
}

@media (max-width: 375px) {
  .buttonDelivery {
    justify-content: center;
    padding: 50px 0 0px 0px;
  }
}
