.hover {
  transition: all 0.5s;
}
.hover:hover {
  transform: scale(1.2);
}
.css-xpwe3e-MuiGrid-root {
  left: 80px;
}
@media screen and (max-width: 1200px) {
  .carHover,
  .logoDeliver {
    display: none;
  }
  .hover:hover {
    transform: none;
  }
  .boXbtnText {
    margin-top: -137px;
  }
  .titleDelivery {
    padding: 0 30px 0;
  }
}
