.hover {
  transition: all 0.5s;
}

.hover:hover {
  transform: scale(1.2);
}

.buttonDelivery {
  display: flex;
  justify-content: start;
  padding: 0 0 40px 130px;
  width: 100%;
}

/*  */
.ContainerDeliverCards {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.ContainerDeliverCards img {
  max-width: 150px;
  height: 150px;
  width: 100%;
}

.DeliveryLine {
  display: inline-block;
  background: black;
  width: 100%;
  height: 3px;
}

.ContainerDeliverSubTitle {
  align-items: center;
  padding: 0 0 100px 0;
  display: flex;
  width: 100%;
}

.DeliverySubTitle {
  min-width: 350px;
  font-size: calc(30px + 10 * ((100vw - 320px) / (1920 - 320)));
}

.containerCard {
  display: flex;
  justify-content: space-around;
  width: 100%;
}



.DeliveryCard {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex-grow: 1;
  margin: 0 20px 0;
  background: #f69049;
  padding: 10px;
  border-radius: 10px;
  margin: 40px 0 0 300px ;
}

.DeliveryCard p {
  font-size: calc(15px + 12 * ((100vw - 320px) / (1920 - 320)));
  font-family: "Lato";
  font-weight: 500;
}

.DeliveryCard b {
  font-size: calc(20px + 5 * ((100vw - 320px) / (1920 - 320)));
  font-family: "Lato";
}

@media (max-width: 745px) {
  .containerCard {
    flex-wrap: wrap;
  }

  .DeliveryCard {
    margin: 0 0 20px 0;
    background: #f69049;
    padding: 10px;
    border-radius: 10px;
  }

}

/*  */


@media screen and (max-width: 1200px) {

  .carHover,
  .logoDeliver {
    display: none;
  }

  .hover:hover {
    transform: none;
  }

  .boXbtnText {
    margin-top: -137px;
  }

  .titleDelivery {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
  }

  .buttonDelivery {
    justify-content: center;
    padding: 0 0 40px 0px;
    margin: 30px 0 0 0;
  }
}

@media (max-width: 375px) {
  .buttonDelivery {
    justify-content: center;
    padding: 50px 0 0px 0px;
  }
}
.DeliveryCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: baseline;
    gap: 50px;
    max-width: 407px;
}

.title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 104.5%;
    color: #ffffff;
    text-align: left;
    margin: 0;
    margin-bottom: 20px;
}

.info_text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 180%;
    color: #ffffff;
    margin: 0;
    margin-top: 20px;
}

@media screen and (max-width: 1400px) {
    .DeliveryCard {
        flex-direction: row;
        max-width: 600px;
    }
}

@media screen and (max-width: 576px) {
    .DeliveryCard {
        flex-direction: column;
        max-width: 600px;
    }
}
