@font-face {
  font-family: "Lato";
  src: url("../../assets/fonts/latoregular.woff2") format(woff2);
  font-weight: 400;
}

@font-face {
  font-family: "Lato";
  src: url("../../assets/fonts/latosemibold.woff2") format(woff2);
  font-weight: 600;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}



.taxi {
  position: relative;
  padding: 150px 0;
  font-family: "Lato";
  line-height: normal;
}

.wrapper {
  max-width: 1655px;
  margin: 0 auto;
  box-sizing: content-box;
  padding: 0 12px;
}

.taxi__title {
  color: #000;
  font-size: 4.375rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 100px;
}

.taxi__content {
  display: flex;
  gap: 58px;
}

.taxi__image-block {
  flex: 1 1 1046px;
  min-height: 342px;
}

.taxi__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
  box-shadow: 4px 4px 10px 0px #000;
}

.taxi__order-block {
  text-align: center;
}

.taxi__order-info {
  color: #000;
  font-size: 1.875rem;
  font-weight: 400;
  margin-bottom: 114px;
  text-align: left;
}

.taxi__backgroundDecor {
  position: absolute;
  z-index: -1;
  top: 60px;
  right: 0;
}

.rowError {
  display: flex;
  justify-content: center;
  align-items: center;
}

.taxi__form {
  width: 70%;
  padding: 20px 0;
  border-radius: 30.847px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
  transition: ease 0.5s;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.taxi__form-title {
  font-size: 3.375rem;
  margin-bottom: 86px;
}

.taxi__form-body {
  width: 100%;
}

.taxi__form-input,
.taxi__form-select {
  outline: none;
}

.taxi__form-input {
  border-bottom: 2.5px solid #000;
  color: #000;
  font-family: "Lato";
  font-size: 25.593px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 334px;
}

.taxi__form-select {
  border-bottom: 2.5px solid #000;
  appearance: none;
  margin-right: 10px;
  width: 120px;
  font-family: "Lato";
  font-size: 1.4rem;
  font-weight: 600;
  line-height: normal;
  position: relative;
}

.taxi__form-select-arrow {
  vertical-align: bottom;
}

.taxi__form-select-arrow:not(:last-child) {
  margin-right: 15px;
}

.taxi__form-field {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.taxi__form-labels {
  margin: 15px 45px 0 0;
}

.taxi__form-label {
  width: 147px;
  text-align: left;
  font-family: "Lato";
  font-weight: 600;
  font-size: calc(15px + 21 ((100vw - 320px) / (1920 - 320)));
}

.taxi__form-select-inputs {
  display: flex;
  min-width: 298px;
  justify-content: space-between;
}

.taxi__form-title {
  font-size: calc(25px + 29 * ((100vw - 320px) / (1920 - 320)));
  font-family: "Lato";
  font-weight: 600;
}

.taxi__order-button {
  font-size: calc(25px + 29 * ((100vw - 320px) / (1920 - 320)));
  color: white;
  background: #ff6900 !important;
  padding: 15px 65px !important;
  border-radius: 20px !important;
  width: 60%;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root {}

@media (min-width: 0px) {
  .css-m3oe8z-MuiGrid-root {
    margin-left: 0 !important;
  }
}

@media (max-width: 767px) {
  .taxi__form {
    width: 100%;
  }
}

@media screen and (max-width: 1160px) {
  .taxi__title {
    margin-bottom: 40px;
  }

  .taxi__order-info {
    margin-bottom: 60px;
  }

  /* .taxi__order-button{
  padding: 16px 0;
} */

  .taxi__content {
    gap: 32px;
  }

  .taxi__form-title {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 992px) {
  .taxi__content {
    flex-direction: column;
    gap: 40px;
  }

  .taxi__image-block {
    flex: 1 1 100%;
    min-height: initial;
  }

  .taxi__order-block {
    text-align: center;
  }

  .taxi__order-info {
    width: 100%;
    margin-bottom: 40px;
  }
}

.form__data__center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .taxi__title {
    font-size: 2.6rem;
  }

  .taxi__order-button {
    font-size: calc(25px + 29 * ((100vw - 320px) / (1920 - 320)));
  }

  .taxi__form-input {
    width: 100%;
  }
}

.madal__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root {
  background: url(../../assets/img//SelectForm.png) no-repeat center;
}

.css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root svg {
  display: none;
}

.css-cwhad8-MuiDateCalendar-root,
.css-1g7nc1s-MuiPickersLayout-root {
  position: absolute;
  top: 1px;
  background: white;
  left: -11px;
  border: 1px solid black;
  border-radius: 10px;
}



/* taxi */
/* .css-1x51dt5-MuiInputBase-input-MuiInput-input {
  height: 15px;
  width: 48% !important;
  background: red;
}

.css-v4u5dn-MuiInputBase-root-MuiInput-root:before {
  right: 56px !important
} */