/* !===== Menu-Pages ===== */

.navLink {
  margin: 100px 0 0 0;
  max-width: 1610px;
  margin: 0 auto;
}
.linkMenu {
  margin: 0 30px;
  color: #000;
  font-family: "Lato";
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 70px;
  margin: 0 30px 0 0;
}
.linkMenu:focus {
  color: #f69049;
}
.SalatBlockRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.BlockCard {
  border-radius: 210.5px 210.5px 20px 20px;
  width: 421px;
  background: #eaeaea;
  margin: 120px 87px;
}
.salatTitle {
  color: #191919;
  text-align: center;
  font-family: "Lato";
  font-size: 70px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1px;
}
button {
  border: none;
  background: none;
  cursor: pointer;
}
