.PagesKalyan {
	margin: 245px 0 0 0;
	color: black;
	background: url(../../../assets/img/kalyan/Kalyan.png) center no-repeat;
	background-size: cover;
	width: 100%;
	padding: 0 130px 0;
}

.KalyanLogo img {
	width: 100%;
	padding: 0 20px 0;
}

.KalyanNav {
	display: flex;
	justify-content: space-between;
	padding: 20px 0 250px;
	flex-wrap: wrap;
}

@media (max-width: 942px) {
	.RowKalyanRightNav {
		padding: 15px 0;
	}
}

@media (max-width: 1022px) {

	.PagesKalyan,
	.containerHeader {
		padding: 0 30px 0;
	}

	.KalyanHeader span {
		margin: 0 -20px 0 !important;
	}
}


@media (max-width: 899px) {
	.PagesKalyan {
		margin: 164px 0 0 0;
	}

	.KalyanNav {
		padding: 20px 0 170px;
	}
}


.RowKalyanRightNav {
	display: flex;
	min-width: 365px;
}

@media (max-width: 395px) {
	.RowKalyanRightNav {
		flex-direction: column;
		padding: 30px 48px 0;
		margin: 0 0 0 -20px;
	}

	.KalyanNav {
		padding: 20px 0 70px;
	}

	.PagesKalyan {
		padding: 0 0 100px 0;
	}

}

.KalyanNavRow {
	display: flex;
}

.NavRightKalyan {
	margin: 0 0 0 17px;
}

.KalyanRightNavPhone {
	display: flex;
	align-items: center;
	margin: 0 35px 0 0;
}

.KalyanRightNavTime {
	display: flex;
	align-items: center;
}

.NavRightKalyan {
	color: #00A657;
	font-family: "Lato";
	font-size: 13.321px;
	font-weight: 600;
	padding: 0 0 5px 0;
}

/* header */
.HeaderTitle {
	color: #FFF;
	font-family: "Lato";
	font-size: calc(30px + 65 * ((100vw - 320px) / (1920 - 320)));
	font-weight: 500;
	letter-spacing: 8px;
	text-transform: uppercase;
	margin: 0 0 20px 0;
}

.HeaderSubTitle {
	color: #00A657;
	font-family: "tangak";
	font-size: calc(40px + 75 * ((100vw - 320px) / (1920 - 320)));
	font-weight: 400;
	letter-spacing: 30.4px;
	text-transform: uppercase;
}

@media (max-width: 696px) {
	.HeaderSubTitle {
		letter-spacing: 5px;
	}
}

.HeaderText {
	color: #FFF;
	font-family: "Lato";
	font-size: calc(20px + 30 * ((100vw - 320px) / (1920 - 320)));
	font-weight: 400;
	margin: 14px 0 20px 0;
}

.boxBtnsHeader {
	width: 100%;
}

@media (max-width: 1141px) {
	.boxBtnsHeader {
		display: flex;
		flex-direction: column;
	}
}

.buttonMenu {
	min-width: 33%;
	color: #000;
	display: inline-block;
	text-align: center;
	background: #00A657;
	padding: 24px 70px;
	font-family: "Lato";
	font-size: calc(13px + 5 * ((100vw - 320px) / (1920 - 320)));
	font-weight: 600;
	text-transform: uppercase;
	transition: ease .4s;
	margin: 0 0 20px 0;
}

.buttonMenu:hover {
	background: #00A657;
	color: white;
}

.buttonRight {
	text-align: center;
	min-width: 33%;
	display: inline-block;
	border: 5px solid #FFF;
	padding: 19px 70px;
	color: #FFF;
	font-family: "Lato";
	font-size: calc(12px + 5 * ((100vw - 320px) / (1920 - 320)));
	font-weight: 600;
	text-transform: uppercase;
	transition: ease .4s;
}

.buttonRight:hover {
	background: #00A657;
	border: 5px solid #1c83b6;
	color: black;
}

.KalyanHeader span {
	width: 118px;
	height: 3px;
	background: #fff;
	display: inline-block;
	margin: 0 0 0 -45px;
}

.containerHeader {
	padding: 0 0 300px 0;
}