/* ! ===== Carousel ===== */

.content {
  text-align: center;
  min-height: 100%;
  margin-bottom: 100px;
}

.container {
  margin: 0 auto;
  width: 100%;
  min-height: 840px;
  border-color: white;
}

.BoxWeightSubTitle {
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.CardCarousel:hover .BoxWeightSubTitle {
  opacity: 1;
  max-height: 300px;
  visibility: visible;
}



.slick-slide img {
  margin: 0 auto;
  width: 100%;
}

.slick-slide slick-active {
  display: none;
}

.img {
  border-radius: 410px;
  background: lightgray -161.911px -45.981px / 184.121% 122.897% no-repeat,
    lightgray 0% 0% / 15.0634765625px 15.0634765625px repeat;
  width: 400px;
  height: 411px;
}

@media screen and (max-width: 767px) {
  .container {
    width: 80%;
  }
}

/* !===== Carousel-Hover ===== */
.container .title {
  transition: 0.5s;
}

.CardCarousel,
.weight {
  border-radius: 210.5px 210.5px 20px 20px;
  max-width: 421px;
}

.CardCarousel {
  background: #eaeaea;
  margin: 0 0 20px 0;
}

.slick-prev {
  left: 0px !important;
  z-index: 10;
}

.slick-next {
  right: 30px;
  top: 300px;
}

.slick-arrow,
.slick-next {
  height: 30px;
  width: 30px;
}

.next-slick-arrow,
.prev-slick-arrow {
  color: #000000;
  font-size: 45px;
}

.slick-dots {
  display: none;
}

.PrevIcon,
.NextIcon {
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 767px) {
  .header {
    margin: 40px 0px 40px;
  }
}

.myTop {
  top: 300px;
}

@media (max-width: 375px) {
  .container {
    min-height: 0;
  }
}

@media (max-width: 450px) {
  .img {
    height: 320px;
  }
}