.KalyanMenuPriceContainer {
	background: url(../../../../assets/img/kalyan/WhyPagesKalyanPrice.png) center no-repeat;
	background-size: cover;
	padding: 0 130px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}


.SubBoxKalyanPrice {
	min-width: 350px;
	width: 100%;
	border: 2px solid #78EAFF;
	-webkit-box-shadow: 0px 0px 20px 8px rgba(13, 244, 203, 0.6);
	-moz-box-shadow: 0px 0px 20px 8px rgba(13, 244, 203, 0.6);
	box-shadow: 0px 0px 20px 8px rgba(13, 244, 203, 0.6);
	padding: 20px;
}

.BoxKalyanPrice {
	justify-content: space-around;
	margin: 0 auto;
	display: flex;
	width: 100%;
}



.SubBoxKalyanPrice p {
	text-align: center;
}

.SubBoxKalyanPrice p,
.SubBoxKalyanPrice span:nth-child(2) {
	color: #FFF;
	font-family: "tangak";
	font-size: 40px;
	font-weight: 400;
	display: block;
	padding: 0 0 40px 0px;
}

.SubBoxKalyanPrice {
	flex: 0 1 0;
	margin: 0 50px 40px;
}

.SubBoxKalyanPrice span:nth-child(3),
.SubBoxKalyanPrice span:nth-child(4),
.SubBoxKalyanPrice span:nth-child(5) {
	color: #90E8FA;
	font-family: "Lato";
	font-size: 40px;
	font-weight: 400;
	display: block;
	padding: 0 0 30px 0px;
}

.SubBoxKalyanPrice span:nth-child(6) {
	color: #00A657;
	font-family: "Lato";
	font-size: 40px;
	font-weight: 400;
}

.KalyanPremium span:nth-child(3),
.KalyanPremium span:nth-child(4),
.KalyanPremium span:nth-child(5) {
	color: #9747FF;
}

.KalyanElintniy span:nth-child(3),
.KalyanElintniy span:nth-child(4),
.KalyanElintniy span:nth-child(5) {
	color: #0046D5;
}

.BtnBoxKalyanPrice {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 170px 0 170px 0;
}

@media (max-width: 414px) {
	.BtnBoxKalyanPrice {
		padding: 40px 0;
	}
}

.buttonKalyanPrice {
	text-align: center;
	min-width: 33%;
	display: inline-block;
	border: 5px solid #FFF;
	padding: 20px 70px;
	color: #FFF;
	font-family: "Lato";
	font-size: calc(12px + 5 * ((100vw - 320px) / (1920 - 320)));
	font-weight: 600;
	text-transform: uppercase;
	transition: ease .4s;
}



.buttonKalyanPrice:hover {
	background: #00A657;
	border: 5px solid #1c83b6;
	color: black;
}

@media (max-width: 1260px) {
	.BoxKalyanPrice {
		flex-wrap: wrap;
	}
}

.BtnBoxKalyanPrice {}